factorydata/pipeline/az-sqlserver-to-excel.json
{
	"name": "az-sqlserver-to-excel",
	"properties": {
		"description": "extract data from Azure SQL Server, transform and load to an excel spreadsheet ",
		"activities": [
			{
				"name": "CopyProduct",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureFileStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Product",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "productCsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-55.eastus.logic.azure.com:443/workflows/4dc5de508ec04f4ebdbf762e96fcba51/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8DOY0K3u52OcakyASScVlDunWjjy7xzvGOOXA1rRiz4",
					"method": "POST",
					"body": {
						"value": "@activity('CopyProduct').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}